.formMateria {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #dbe2ea;
  padding: 20px;
  border-radius: 10px;
}

.input {
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #ccc;
}

.botao {
    background-color: #1B3A6B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.botao:hover {
    background-color: #0D2A4F;
    padding: 11px 22px;
    transition-duration: 0.3s;
}